*{
    font-family: 'bree serif';
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../static/background.png);
    background-size: max(100%, 1150px) max(400px, 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(36, 40, 40, 0.9);
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 14px; 
}

::-webkit-scrollbar-thumb {
    background: #cacaca; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #747474; 
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

.head{
    letter-spacing: 2px;
    color: white;
    font-size: 4vmax;
    font-weight: 600;
    text-shadow: .1em .1em 1px rgba(0, 0, 0, 0.849);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(216, 210, 210, .6);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(193, 180, 180, 0.5);
    margin-top: 20px;
    font-size: 1.7vmax;
}

.container h4{
    font-weight: 300;
    
}

#inputType{
    border-radius: .4em;
    padding: .1em .4em;
    font-size: .6em;
    border: 1px solid #483e3e;
}

.item{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

#textarea{
    resize: none;
    border-radius: .5em;
    padding: .4em .8em;
}

input[type='Submit']{
    padding: .2em 1em;
    border-radius: 15em;
    border: 2px solid #787676;
    font-weight: 700;
    margin-top: .5em;
    font-size: 1.4vmax;

}

#linkInput {
    display: none;
}

#result{
    /* display: none; */
    margin-top: 1em;
}

#result div{
    padding: .5em 1.5em;
    border: .1em ;
    border-style: groove;
    box-shadow: .2em .2em .1em black;
    border-radius: .7em;
    background-color: black;
    color: white;
}

@media (width<=700px) {
    .head{
        font-size: 6vmax;
    }
    .container{
        font-size: 2vmax;
    }
    input[type='Submit']{
        font-size: 1.2em;
    }
    #inputType{
        font-size: .9em;
    }
}

@media (width<=470px) {
    .head{
        font-size: 3.5vmax;
    }
    #textarea{
        width: 80%;
    }
}