<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css')}}">
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1 class="head">Amazon Customer Review</h1>
    <h1 class="head">Sentiment Analysis</h1>

    <div class="container">
        <form action="/result" method="post">
            <div class="item">
                <h4>Choose Input Type:</h4>
                <select id="inputType" name="inputType" onchange="toggleInput()">
                    <option value="text" style="text-align: center;" selected>Text</option>
                    <option value="link" style="text-align: center;" >Product URL</option>
                </select>
            </div>
            
            <div id="textInput" class="item">
                <h4>Enter Text: </h4>
                <textarea id="textarea" name="text" rows="1" cols="50"></textarea>
            </div>
    
            <div id="linkInput" class="item">
                <h4>Enter URL: </h4>
                <textarea name="link" rows="2" cols="50"></textarea>
            </div>
    
            <input type="submit" value="Submit">
        </form>

        <div id="result">
            {% if page == 'text' %}
            <div style="background-color: {{bg}};"> 
                <p>Sentiment Result: {{ prediction_text }}</p>
                <p>Confidence: {{ confidence }}</p>
            </div>
            {% elif page == 'download' %}
            <div>
                <a href="{{ url_for('download_data')}}" download>Download File</a>
            </div>
            {% elif page == 'empty' %}
            <div>
                <p>Sentiment of empty text hmm...🤔🤔</p>
            </div>
            {% elif page == 'wrong_link' %}
            <div>
                <p>Invalid Link!! Try Again 🔁</p>
            </div>
            {% elif page == 'error' %}
            <div>
                <p>Error Encountered!! Please check..</p>
                <p>If the link entered is correct or the product has reviews.</p>
            </div>
            {% endif %}
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='../static/script.js')}}"></script>
    <!-- <script src="../static/script.js"></script> -->
</body>
</html>
